#security-keys-section .wp-list-table {
	margin-bottom: 2em;
}

#security-keys-section .register-security-key .spinner {
	float: none;
}

#security-keys-section .security-key-status {
	vertical-align: middle;
	font-style: italic;
}

.login #security-keys-section p {
	line-height: 1.5;
	margin: 1em 0;
}

.login #security-keys-section .button.button-secondary {
	display: inline-block;
}
