<phpunit 
	bootstrap="tests/phpunit/includes/bootstrap.php"
	backupGlobals="false" 
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<php>
		<const name="WP_TEST_ACTIVATED_PLUGINS" value="two-factor/two-factor.php" />
	</php>
	<testsuites>
		<testsuite>
			<file>tests/phpunit/tests/two-factor.php</file>
			<file>tests/phpunit/tests/providers/class.two-factor-dummy.php</file>
			<!-- This test fails in PHP 5.2. FIDO U2F support is PHP 5.3+ only. -->
			<file phpVersion="5.3.0" phpVersionOperator=">=">tests/phpunit/tests/providers/class.two-factor-fido-u2f.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">.</directory>
			<exclude>
				<directory suffix=".php">bin</directory>
				<directory suffix=".php">tests</directory>
				<directory suffix=".php">vendor</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>