<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	cacheResultFile="./tests/.phpunit.result.cache"
	>
	<testsuites>
		<testsuite name="All Tests">
			<directory suffix=".php">tests</directory>
		</testsuite>
	</testsuites>
	<coverage processUncoveredFiles="false">
		<include>
			<directory suffix=".php">includes</directory>
			<directory suffix=".php">providers</directory>
			<file>class-two-factor-compat.php</file>
			<file>class-two-factor-core.php</file>
			<file>two-factor.php</file>
		</include>
		<exclude>
			<file>includes/function.login-footer.php</file>
			<file>includes/function.login-header.php</file>
		</exclude>
		<report>
			<clover outputFile="tests/logs/clover.xml" />
			<html outputDirectory="tests/logs/html" />
		</report>
	</coverage>
</phpunit>
