watch:
  directories:
    - ./
  exclude:
    - .github
    - assets
    - dist
    - node_modules
    - vendor
  fileMask: '*.php'
  ignoreDotFiles: true
  ignoreVCS: true
  ignoreVCSIgnored: true

notifications:
  passingTests: false
  failingTests: false
