.two-factor-methods-table tbody th,
.two-factor-methods-table tbody td {
	vertical-align: top;
}

.two-factor-methods-table .two-factor-method-label {
	display: block;
	font-weight: 700;
}

.two-factor-methods-table .two-factor-method-recommended {
	font-size: 0.8rem;
	line-height: 1;
	font-weight: 400;
	border: 1px dotted;
	border-radius: 0.15rem;
	padding: 0.1rem 0.25rem;
	margin: 0 0.15rem;
}

.backup-methods-wrap {
	margin-top: 16px;
	padding: 0 24px;
}

.backup-methods-wrap a {
	text-decoration: none;
}

.backup-methods-wrap ul {
	list-style-position: inside;
}

/* Prevent Jetpack from hiding our controls, see https://github.com/Automattic/jetpack/issues/3747 */
.jetpack-sso-form-display #loginform > p,
.jetpack-sso-form-display #loginform > div {
	display: block;
}

#login form p.two-factor-prompt {
	margin-bottom: 1em;
}

.input.authcode {
	letter-spacing: 0.3em;
}

.input.authcode::placeholder {
	opacity: 0.5;
}
