.two-factor-methods-table tbody th,
.two-factor-methods-table tbody td {
	vertical-align: top;
}

.two-factor-methods-table .two-factor-method-label {
	display: block;
	font-weight: 700;
}

.two-factor-methods-table .two-factor-method-recommended {
	font-size: 0.8rem;
	line-height: 1;
	font-weight: 400;
	border: 1px dotted;
	border-radius: 0.15rem;
	padding: 0.1rem 0.25rem;
	margin: 0 0.15rem;
}

.two-factor-backup-codes-wrapper > :not(:last-child) {
	margin-bottom: 1em;
}

.two-factor-backup-codes-list-wrap {
	background-color: #ddd;
	display: inline-block;
	margin-top: 24px;
	padding: 20px;
}

.two-factor-backup-codes-list-wrap .two-factor-backup-codes-unused-codes {
	margin: 0;
	padding: revert;
}

.two-factor-backup-codes-list-wrap .two-factor-backup-codes-token {
	letter-spacing: 0.3em;
	font-family: monospace;
}
