name: Deploy

on:
  release:
    types: [published]
  push:
    branches:
      # For readme and asset updates.
      - master

jobs:

  deploy:
    name: Deploy to WordPress.org
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          cache: 'npm'
          node-version-file: '.nvmrc'

      - name: Setup PHP and Composer
        uses: shivammathur/setup-php@v2
        with:
          php-version: '5.6'
          tools: composer:v2

      - name: Install NPM dependencies
        run: npm install

      - name: Build plugin
        run: npm run build

      - name: WordPress.org asset and readme update
        uses: 10up/action-wordpress-plugin-asset-update@stable
        if: github.ref_name == 'master'
        env:
          # Note: this action doesn't support BUILD_DIR so it pushes the raw readme.txt
          IGNORE_OTHER_FILES: true
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}

      - name: WordPress.org deploy
        id: deploy
        uses: 10up/action-wordpress-plugin-deploy@stable
        if: startsWith( github.ref, 'refs/tags/' )
        with:
          generate-zip: true
        env:
          BUILD_DIR: dist
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}

      - name: Upload release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ${{ steps.deploy.outputs.zip-path }}
          asset_name: ${{ github.event.repository.name }}.zip
          asset_content_type: application/zip
